<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <h1 class="breadcrumb-item active" aria-current="page">Car Insurance</h1>
  </ol>
</nav>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <% @car_insurances.each do | car_insurance | %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
        <% car_insurance.products.each do |product| %>
          <p class="card-text">Product Name: <%= product.name %></p>
          <p class="card-text">Product Price: <%= product.price %></p>
          <p class="card-text">Product Sell In: <%= product.sell_in %></p>
         <% end %>
        </div>
        <div class="card-footer">
          <small class="text-muted"> <%= car_insurance.created_at %></small>
        </div>
      </div>
    </div>
  <% end %>
</div>
